conf.py
debian
*.geany
.idea
*.log
tlp
tlp-func-base
tlp-pd
tlp-pd.service
tlp-rdw
tlp-rdw-nm
tlp-rdw-udev
tlp-rdw.rules
tlp-readconfs
tlp-rf
tlp-run-on
tlp-stat
tlp-usb-udev
tlp.conf
tlp.rules
tlp.service
tlp.upstart
tlpctl
*.patch
*.patch
PKGBUILD*
pkg
__pycache__/
*.py[cod]
research*
.ropeproject
src
tlp.install
worktree*
.zed
*.zst
