# tlp-rdw - udev rules
#
# Copyright (c) 2015 Thomas Koch <linrunner at gmx.net>
# This software is licensed under the GPL v2 or later.

# --- Dock/undock events

# ThinkPad Advanced Mini Dock (and all older models), ThinkPad UltraBase
ACTION=="change", SUBSYSTEM=="platform", KERNEL=="dock.*", RUN+="/lib/udev/tlp-rdw-udev %p dock"

# ThinkPad Mini Dock (Plus) Series 3
ACTION=="add|remove", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ENV{PRODUCT}=="17ef/100a/*", RUN+="/lib/udev/tlp-rdw-udev %p usb_dock"

# ThinkPad Ultra Dock
ACTION=="add|remove", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ENV{PRODUCT}=="17ef/1010/*", RUN+="/lib/udev/tlp-rdw-udev %p usb_dock"

# ThinkPad Pro Dock
ACTION=="add|remove", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ENV{PRODUCT}=="17ef/1012/*", RUN+="/lib/udev/tlp-rdw-udev %p usb_dock"

# ThinkPad Basic Dock
# *** TODO: yet unknown ***

# ThinkPad OneLink Dock Pro
ACTION=="add|remove", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ENV{PRODUCT}=="17ef/304b/*", RUN+="/lib/udev/tlp-rdw-udev %p usb_dock"

# ThinkPad OneLink Dock Basic
ACTION=="add|remove", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ENV{PRODUCT}=="17ef/3049/*", RUN+="/lib/udev/tlp-rdw-udev %p usb_dock"
