#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 2 of the License, or
#  (at your option) any later version.

[Unit]
Description=Initialisation for TLP 
DefaultDependencies=no
Requires=upower.service
After=upower.service
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/tlp init start
ExecStop=/usr/sbin/tlp init stop

[Install]
WantedBy=graphical.target
