[Unit]
Description=tlp suspend/resume
Before=sleep.target
StopWhenUnneeded=yes

[Service]
User=%I
Type=oneshot
RemainAfterExit=yes
ExecStart=tlp suspend
ExecStop=tlp resume

[Install]
WantedBy=sleep.target
