# tlp - systemd suspend/resume service
#
# Copyright (c) 2015 Thomas Koch <linrunner at gmx.net>
# This software is licensed under the GPL v2 or later.

[Unit]
Description=TLP suspend/resume
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/tlp suspend
ExecStop=/usr/sbin/tlp resume

[Install]
WantedBy=sleep.target
