<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD polkit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>
  <vendor>tlp-pd</vendor>
  <vendor_url>https://github.com/linrunner/TLP/</vendor_url>

  <!--
    Only users with an active session are allowed to perform actions. This means
    that the user is currently logged in, the session is unlocked and in use.
  -->

  <action id="org.freedesktop.UPower.PowerProfiles.switch-profile">
    <description>Switch Power Profile</description>
    <message>Privileges are required to switch power profiles.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.UPower.PowerProfiles.hold-profile">
    <description>Hold Power Profile</description>
    <message>Privileges are required to hold power profiles.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.UPower.PowerProfiles.configure-action">
    <description>Configure action</description>
    <message>Privileges are required to configure actions.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.UPower.PowerProfiles.configure-battery-aware">
    <description>Configure action</description>
    <message>Privileges are required to configure battery-awareness.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
</policyconfig>
