# tlp - handle added usb devices
ACTION=="add", SUBSYSTEM=="usb", DRIVER=="usb", RUN+="/lib/udev/tlp-usb-udev %p"
ACTION=="add", SUBSYSTEM=="hid", RUN+="/lib/udev/tlp-usb-udev %p _hid"
