# tlp - systemd startup/shutdown service
#
# Copyright (c) 2015 Thomas Koch <linrunner at gmx.net>
# This software is licensed under the GPL v2 or later.

[Unit]
Description=TLP system startup/shutdown
Wants=bluetooth.service NetworkManager.service
After=multi-user.target bluetooth.service NetworkManager.service
Before=shutdown.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/sbin/tlp init start
ExecStop=/usr/sbin/tlp init stop

[Install]
WantedBy=multi-user.target
