Source: tlp
Section: utils
Priority: optional
Maintainer: Thomas Koch <linrunner@gmx.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: http://thinkpad-wiki.org/TLP_-_Stromspareinstellungen_fuer_Ubuntu

Package: tlp
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, pm-utils
Recommends: ethtool, wireless-tools
Suggests: smartmontools
Conflicts: pm-utils-powersave-policy
Description: Saves battery power on laptops
 TLP is a collection of scripts enabling laptop-mode and
 implementing power save features for laptop hardware.
